:root {
	--white: #ffffff;
	--dark-grey: #1A1A1D;
	--dark-grey-20: #1a1a1d20;
	--grey: #3b3b3b;
	--brown-red: #6f2232;
	--wine: #950740;
	--red: #C3073F;
}

/* Obecné nastavení */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Bitter';
}

html {
	scroll-behavior: smooth;
	min-width: 340px;
}

.container {
	width: 100%;
	margin: 0 auto;
}


/* Hlavička */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--dark-grey);
	height: 60px;
	z-index: 100;
}

.nav {
	display: grid;
}

.nav .container {
	position: relative;
}

.nav-list {
	align-self: center;
	justify-self: center;
}

.nav-item {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
}

.nav-link {
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	overflow: hidden;

	transition: color 0.5s;
	border-bottom: 2px solid transparent;
	color: var(--white);
}

.nav-link:hover {
	color: var(--red);
}

.nav-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 0.1em;
	background-color: var(--white);
	opacity: 0;
	transition: opacity 0.5s, width 0.5s;
}

.active {
	color: var(--red);
}

.nav-link:hover::after,
.nav-link:focus::after {
	opacity: 1;
	width: 100%;
}

.nav-brand {
	position: fixed;
	margin: 10px 10px 0 0;
	height: 40px;
	top: 0;
	left: 0;
}

.nav-brand-img {
	height: 100%;
}

.nav-drawer {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	color: var(--white);
	margin: 15px 20px 0 0;
}

.responsive {
	/* == nav-list při telefonu */
	position: absolute;
	height: 100vh;
	z-index: 1000;
	width: 100vw;
	background-color: var(--dark-grey);
	margin-top: 60px;
	padding-top: 10px;
}

.responsive .nav-item {
	display: block;
}

/* Hlavní obsah */
section {
	padding-top: 80px;
	position: relative;
}

section::before {
	content: "";
	border: 1px solid var(--red);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	transform: translateY(40px);
}

/* Obecné pro všechny sekce */

h1.section-heading {
	font-size: 48px;
}

.section-heading {
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Alfa Slab One';
	position: relative;
	text-indent: 20px;
	color: var(--red);
	margin-left: 10px;
}

.section-heading::before {
	content: '';
	position: absolute;
	background-color: var(--dark-grey);
	width: 4px;
	height: 100%;
	bottom: 0;
	left: 0px;
}

.section-content {
	height: 100%;
	width: 100%;
	padding: 20px;
	padding: 20px;
	display: grid;
}

/* Pro jednotlivé sekce */
/* O mně */
#about .section-content {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
}

#about p {
	grid-row: 1;
	grid-column-start: 1;
	grid-column-end: 4;
}

#about a {
	color: var(--red);
	font-weight: bold;
}

#about a:hover {
	color: var(--brown-red);
}

#about img {
	width: 100%;
}

/* Zkušenosti */
#experience .technologies {
	display: grid;
	justify-content: center;
	gap: 20px;
	grid-template-columns: repeat(6, 1fr);
}

#experience .technologies img {
	width: 100%;
}

/* Vzdělání */
#education table {
	border-collapse: collapse;
	text-align: left;
}

#education thead,
#education tbody {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#education td,
#education th {
	padding: 10px;
}

#education td {
	border-bottom: 2px solid var(--dark-grey);
}

#education thead th {
	border: 2px solid var(--white);
	background-color: var(--dark-grey);
	color: var(--white);
}

#education tbody tr:hover {
	background-color: var(--wine);
	color: var(--white);
	font-size: 20px;
}

/* Zájmy */
#hobby .section-content {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 300px 300px;
	justify-content: center;
}

#hobby .four {
	padding: 10px;
	height: 300px;
	width: 300px;
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	background-color: var(--wine);
	/* Zajímavý efekt */
	transition: width 0.5s, height 0.5s, margin 0.5s;
	display: grid;
	grid-template-rows: max-content auto;
	align-content: center;
	text-align: center;
	position: relative;
}

#hobby .four:nth-child(1),
#hobby .four:nth-child(4) {
	background-color: var(--dark-grey);
}

#hobby .four:nth-child(1) {
	background-image: url(../img/java.png);
}

#hobby .four:nth-child(2) {
	background-image: url(../img/mc.png);
}

#hobby .four:nth-child(3) {
	background-image: url(../img/anime.png);
}

#hobby .four:nth-child(4) {
	background-image: url(../img/flower.png);
}

#hobby .four:hover {
	width: 260px;
	height: 260px;
	margin: 20px;
}

#hobby .four::before {
	content: "";
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: var(--dark-grey-20);
	transition: width 0.5s, height 0.5s;
}

#hobby .four:hover::before {
	width: 260px;
	height: 260px;
}

#hobby .four-heading {
	font-size: 28px;
	color: var(--white);
	text-shadow: 5px 5px 10px var(--dark-grey);
}

/* Poslední projekty */
#last-projects .section-content {
	gap: 20px;
}

/* Karty */
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--dark-grey);
	border-bottom: 1px solid var(--dark-grey);
	border-radius: 20px;
	padding: 10px;
}

.card:hover {
	border-color: var(--wine);
}

.card:nth-child(even) {
	flex-direction: row-reverse;
}

.card-text {
	flex: 3;
	padding: 20px;
}

.card-text a {
	color: var(--red);
	font-weight: bold;
}

.card-text a:hover {
	color: var(--brown-red);
}

.card-heading {
	text-align: center;
	padding: 10px;
}

.card-heading h4 {
	font-size: 28px;
	color: var(--wine);
}

.card-heading hr {
	margin: 5px auto;
	width: 20%;
}

.card-image {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex: 1;
	border-right: 1px solid var(--dark-grey);
}

.card-image img {
	width: 80%;
	display: block;
	margin: 0 auto;
	transition: width 1s;
}

.card-image img:hover {
	width: 100%;
}

.card:nth-child(even) .card-image {
	border-right: 0px;
	border-left: 1px solid var(--dark-grey);
}

/* Kontakt */
#contact .section-content {
	display: flex;
}

#contact .info,
#contact .map {
	flex: 1;
	height: 600px;
}

#contact .info {
	padding: 10px;
}

#contact .info-group {
	padding: 10px;
}

#contact .info-label {
	font-size: 24px;
	color: var(--wine);
}

#contact .info-label i {
	margin-right: 10px;
}

#contact .info-text {
	margin-left: 38px;
	font-size: 16px;
}

.map iframe {
	width: 100%;
	height: 100%;
}

.social-link {
	font-size: 32px;
	text-decoration: none;
	text-align: center;
}

.social-link:hover i {
	background-color: var(--red);
	color: var(--white);
}

.social-link i {
	background-color: var(--dark-grey);
	padding: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: var(--red);
	transition: background-color 0.5s, color 0.5s;
}

/* Patička */
footer {
	height: 60px;
	background-color: var(--dark-grey);
	color: var(--white);
}

footer .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	flex-direction: column;
}

footer p {
	font-size: small;
	color: var(--red);
	padding: 0 20px;
}

footer a {
	color: var(--red);
}

footer a:hover {
	color: var(--brown-red);
}

/* Responzivita */
/* 0-600px */
@media screen and (max-width: 600px) {
	#about .section-content {
		grid-template-columns: auto;
		grid-template-rows: max-content;
	}

	#about .section-content p {
		grid-row: 1;
		grid-column: 1;
	}
}

/* 0-640px */
@media screen and (max-width: 640px) {
	#hobby .section-content {
		grid-template-columns: 300px;
		grid-template-rows: 300px;
		row-gap: 10px;
	}

	#hobby .section-content .four:nth-child(3) {
		grid-row: 4;
	}

	#experience .technologies {
		grid-template-columns: repeat(4, 1fr);
	}
}
/* 600-760px */
@media screen and (min-width: 600px) and (max-width: 760px) {
	#about .section-content {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content;
	}

	#about .section-content p {
		grid-row: 1;
		grid-column-start: 1;
		grid-column-end: 2;
	}
}
/* 0-760px */
@media screen and (max-width: 760px) {
	

	.card,
	.card:nth-child(even) {
		flex-direction: column-reverse;
	}

	.card .card-image,
	.card:nth-child(even) .card-image {
		border-left: 0;
		border-right: 0;
		border-top: 1px solid var(--dark-grey);
	}

	.card-image img {
		width: 200px;
	}

	.card-image img:hover {
		width: 300px;
	}

	#contact .section-content {
		flex-direction: column-reverse;
	}

	#contact .info,
	#contact .map iframe {
		height: 600px;

	}
}

/* 1200+px */
@media screen and (min-width: 1200px) {

	.container,
	.divider {
		width: 1200px;
	}
}

/* 0-1400px */
@media screen and (max-width: 1400px) {
	.nav-drawer {
		display: block;
	}

	.nav-list {
		display: none;
	}
	.nav .container {
		width: 100%;
	}
}